@import 'src/css/_variables';

//#2c3a45
.navbar{
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  .nav-item{
        .nav-link{
          color:$White;
          .anticon{
            padding-right: 10px;
              svg {
                vertical-align: inherit;
                path{
                  fill:$White;
                }
            } 
          }
        }
    }
}